doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title #{title || 'Streamient'}
		- const __wlFavicon = typeof white_label !== 'undefined' && white_label && white_label.favicon_url ? white_label.favicon_url : '/static/images/favicon.ico'
		link(href=__wlFavicon rel="shortcut icon")
		if !(typeof white_label !== 'undefined' && white_label && white_label.favicon_url)
			link(href="/static/images/favicon.svg" rel="icon" type="image/svg+xml")
			link(href="/static/images/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180")
		script.
			(function () {
				try {
					var t = localStorage.getItem('st-theme') || localStorage.getItem('kk-theme');
					if (t !== 'light' && t !== 'dark') t = 'dark';
					document.documentElement.setAttribute('data-theme', t);
					document.documentElement.setAttribute('data-bs-theme', t);
				} catch (e) {
					document.documentElement.setAttribute('data-theme', 'dark');
					document.documentElement.setAttribute('data-bs-theme', 'dark');
				}
			})();
		link(href=`/static/v-${v}/css/admin_vendor.css` rel="stylesheet")
		link(href=`/static/v-${v}/css/app.css` rel="stylesheet")
		link(href=`/static/v-${v}/css/streamient-tabler.css` rel="stylesheet")
		block head
	- const _authCoverUrl = typeof getAuthLoginCoverUrl === 'function' ? getAuthLoginCoverUrl() : authLoginCoverUrl
	- const _authCoverStyle = typeof _authCoverUrl === 'string' && _authCoverUrl ? `--st-auth-cover-image: url("${_authCoverUrl}");` : undefined
	body.st-auth-page.d-flex.flex-column(style=_authCoverStyle)
		.row.g-0.flex-fill.st-auth-shell
			.col-12.col-lg-6.col-xl-4.border-top-wide.border-primary.d-flex.flex-column.justify-content-center.st-auth-panel
				.container.container-tight.my-5.px-lg-5
					.mb-5.logo-form
						a.navbar-brand.justify-content-center(href="/login" aria-label="Streamient login")
							- const __wlAuth = typeof white_label !== 'undefined' ? white_label : null
							- const __wlAuthLogo = __wlAuth && (__wlAuth.login_logo_url || __wlAuth.logo_url)
							if __wlAuthLogo
								img.img-fluid.st-white-label-auth-logo(src=__wlAuthLogo alt="Logo")
							else
								span.st-logo-light
									include includes/logo_black
								span.st-logo-dark
									include includes/logo_white
					block body
			.col-12.col-lg-6.col-xl-8.d-none.d-lg-block.st-auth-cover-column
				.st-auth-cover.bg-cover.h-100.min-vh-100
		script(src=`/static/v-${v}/js/icons.js`)
		include includes/openpanel
		block scripts
