doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title #{title || 'Kumbukum'}
		- const __wlFavicon = typeof white_label !== 'undefined' && white_label && white_label.favicon_url ? white_label.favicon_url : '/static/images/favicon.ico'
		link(href=__wlFavicon rel="shortcut icon")
		link(href=`/static/v-${v}/css/vendor.css` rel="stylesheet")
		link(href=`/static/v-${v}/css/app.css` rel="stylesheet")
		link(href=`/static/v-${v}/css/kumbukum-login-split-production.css` rel="stylesheet")
		block head
	body
		block body
		script(src=`/static/v-${v}/js/icons.js`)
		include includes/openpanel
		block scripts
