doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title #{title || 'Kumbukum'}
		link(href='/static/images/favicon.ico' rel="shortcut icon")
		link(href=`/static/v-${v}/css/vendor.css` rel="stylesheet")
		link(href=`/static/v-${v}/css/app.css` rel="stylesheet")
		link(href=`/static/v-${v}/css/kumbukum-login-split-production.css` rel="stylesheet")
		include includes/sentry
		block head
	body
		block body
		script(src=`/static/v-${v}/js/icons.js`)
		include includes/openpanel
		include includes/openobserve
		block scripts
